@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make the scrollbar track transparent */
@media only screen and (min-width: 768px) {
::-webkit-scrollbar{
  width: .5rem;
}

::-webkit-scrollbar-track{
  background:transparent;
}

::-webkit-scrollbar-thumb{
  background-color:skyblue;
  border-radius: 4rem;
}
}

/* In your custom CSS file */

@layer utilities {
  .filter-hue-rotate-180 {
    filter: hue-rotate(180deg);
    
  }
   .filter-hue-rotate-180:hover {
    filter: hue-rotate(0deg);
  }
}
