@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make the scrollbar track transparent */
::-webkit-scrollbar{
  width: .5rem;
}


::-webkit-scrollbar-thumb{
  background-color:skyblue;
  border-radius: 4rem;
}

/* In your custom CSS file */

@layer utilities {
  .filter-hue-rotate-180 {
    filter: hue-rotate(180deg);
    
  }
   .filter-hue-rotate-180:hover {
    filter: hue-rotate(0deg);
  }
}
